.marque-main {
  margin: auto;
  height: 30px;
  width: 100%;
  background-color: #d9bea0;
  position: sticky;
  top: 0; 
  z-index: 1000; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.marquee-text {
    font-size: 16px; 
    color: black;
    text-align: center;
    margin-top: -10px;
  }
  
  .highlight {
    color: white;
    font-weight: bold; 
    padding-right: 5px;
  }



  /* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .marque-main{
        margin-top: 3px;
        height: 30px;
        width: 90%;
        background-color: black;
    }

    .marquee-text {
        font-size: 16px; 
        color: white;
        text-align: center;
        margin-top: -10px;
      }
      
      .highlight {
        color: #d2691e; 
      }
    

}
  
@media (max-width: 480px) {
    .marque-main{
        margin-top: 3px;
        height: 30px;
        width: 99%;
        background-color: black;
    }
    
    .marquee-text {
        font-size: 16px; 
        color: white;
        text-align: center;
        margin-top: -10px;
      }
      
      .highlight {
        color: #d2691e; 
      }
    
 
}
  